<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Portifólio Claudenir </title>
    <link rel="stylesheet" type="text/css" href="../static/_css/style.css"/>
</head>
<body>
    <div id="struct">
        <div id="back">
            <div id="interface">
                <section id="one">
                    <nav id="menu">
                        <ul>
                            <li> <a href="#about"> Sobre Mim </a></li>                           
                            <li> <a href="#projects"> Projetos </a></li>
                            <li> <a href="#skills"> Habilidades </a></li>
                            <li> <a href="#contacts"> Contato </a></li>
                        </ul>
                    </nav>
                    <div id="topo">
                        <header id="cabecalho">
                            <hgroup>
                                <h1> Claudenir Ferreira </h1>
                                <h2> Programador em formação na Blue Corporation </h2>
                            </hgroup>
                        </header>
                    </div>
                </section>

                <section id="second" class="inter">
                    <!-- <div class="divTit" id="titAbout">
                        <!-- <h3 class="tit"> Sobre Mim </h3> -->
                    <!-- </div> --> -->

                    <div id="second-text">
                        <h3 class="tit" id="about"> Sobre Mim </h3>
                        <p class="text">
                            Analista de Sistema formado pela Universidade UNICESUMAR em Maringá / PR, Pós Graduação em Banco de Dados - em 2022. Técnico em Hardware pelo SENAI Niteroi / RJ, Formação Rede Network CompTia pela M.Cury Centro / RJ. Consultor / prestador de serviços e suporte a empresas. Estudante de Programação na Blueedtech. Professor de cursos na modalidade de Ensino Livre.Enganjado com a Instituição Filantrópica Karanba Forever <span>(Instituição Filantrópica, fundada pelo ex jogador de futebol Tommy Nilsen)</span>. Eu me dfino como um estusiata e apaixonado por tecnologia, especialmente ao mundo dos códigos em todas as suas vertentes Back, Front, Análise de dados etc...
                        </p>
                    </div>
                    <div id="img-about">
                        <img src="../static/_img/ideias.png" id="img-idea">
                    </div>
                </section>

                <section id="third">

                    <h3 id="projects"> Projetos Desenvolvidos </h3>

                    <div id="project-1" class="proj">
                        
                        <h4 class="tit-projects"> Projeto 1 </h4>                  
                            
                        <img src="../static/_img/pdetetive.png" alt="Jogo Detetive" class="projects">
                        
                        <p> Desenvolvido em Python, o jogo simula um suspeito sendo interrogado...</p>

                        <a href="https://github.com/ClaudenirFer/projeto1_detetive.git" target="blank"><button>Ver Código</button></a>
                       
                        
                    </div>

                    <div id="project-2">
                        
                        <h4 class="tit-projects"> Projeto 2 </h4>                  
                            
                        <img src="../static/_img/ppedra-pap-teso.png" alt="Jogo Pedra, papel e tesoura" class="projects">
                        
                        <p> Tradicional joguinho Pedra, Papel e Tesoura usando a tecnologia Python </p>
                       
                        <a href="https://github.com/ClaudenirFer/projetoPython.git" target="blank"><button>Ver Código</button></a>
                        
                    </div>

                    <div id="project-3">
                        
                        <h4 class="tit-projects"> Projeto 3 </h4>                  
                            
                        <img src="../static/_img/pjogo-dados.png" alt="Jogo dos dados" class="projects">
                        
                        <p> O Milienar Jogo dos dasdos. Desenvolvido usando a tecnologia Python...</p>
                       
                        <a href="https://github.com/ClaudenirFer/projetoPython.git" target="blank"><button>Ver Código</button></a>

                    </div>

                    <div id="project-4">
                        
                        <h4 class="tit-projects"> Projeto 4 </h4>                  
                            
                        <img src="../static/_img/psimulador-eleicao.png" alt="Simulador de urna eleitoral" class="projects"> 
                        
                        <p> Foi desenvolvido em Python um Simulador de uma urna eleitoral nesse projeto...</p>
                       
                        <a href="https://github.com/ClaudenirFer/projetoPython.git" target="blank"><button>Ver Código</button></a>
                        
                    </div>

                    <div id="project-5">
                        
                        <h4 class="tit-projects"> Projeto 5 </h4>                  
                            
                        <img src="../static/_img/psimulacao-interativa.png" alt="Jogo de simulação interativa" class="projects">
                        
                        <p> Jogo de Realidade fictícia interativa. Desenvolvimento em Python Orientação a Obj.  </p>
                       
                        <a href="https://github.com/thaynar96/projeto-5.git" target="blank"><button>Ver Código</button></a>
                        
                    </div>

                    <div id="project-6">
                        
                        <h4 class="tit-projects"> Projeto 6 </h4>                  
                            
                        <img src="../static/_img/phumor.png" alt="Troca de Humor" class="projects">
                        
                        <p> Troca de humor espontâneo com HTML, CSS e um pouco de Java Script. </p>

                        <a href="https://github.com/ClaudenirFer/web-bd-cloud.git" target="blank"><button>Ver Código</button></a>
                        
                    </div>





                    
                </section>

                <section id="fourth" class="inter">
                    
                    <h3 id="skills"> Habilidades </h3>
                    
                    <div>
                        <!-- <h4 class="tit-projects"> Projeto 1 </h4>                   -->
                            
                        <img src="../static/_img/c.png" alt="Linguagem C" class="languages">
                        <p> Programação em linguagem C. Estruturas de Dados, Árvores e Grafos, ponteiros e desenvolvimeto de ggoritmos de organização, busca e varredura ...</p>

                    </div>

                    <div>
                        <!-- <h4 class="tit-projects"> Projeto 1 </h4>                   -->
                            
                        <img src="../static/_img/java.png" alt="Java" class="languages">
                        <p> Linguagem de programação em JAVA sequencial e estrutural. Algoritmos e códigos em Programação orientada a objetos....</p>
                        
                    </div>

                    <div>
                        <!-- <h4 class="tit-projects"> Projeto 1 </h4>                   -->
                            
                        <img src="../static/_img/logo-postgresql.png" alt="postgresql" class="languages">
                        <p> Desenvolvimento e administração em Banco de Dados postgreSQL. Consultas, organização e estruturação de banco de dados relacionais usando a linguagem em SQL</p>
                        
                    </div>

                    <div>
                        <!-- <h4 class="tit-projects"> Projeto 1 </h4>                   -->
                            
                        <img src="../static/_img/python.png" alt="Python" class="languages">
                        <p>Programação estrutural, conceitos e desenvolvimento de Lógica da Programação em Python. Introdução a programação em Orientação a Objetos. Criação de aplicação Web usando Flask. </p>
                        
                    </div>

                    <div>
                        <!-- <h4 class="tit-projects"> Projeto 1 </h4>                   -->
                            
                        <img src="../static/_img/logo-html-css.png" alt="HTML e CSS" class="languages">
                        <p> Densenvolvimento de páginas em HTML e formatação e dinamização fazendo o uso de CSS e um pouco de Java Script.</p>
                        
                    </div>
                </section>
                

                <section id="fifth">
                    <div id="contact">
                        <h3 class="tit-black" id="contacts"> Fale conosco: </h3>
                    </div>
                    <div id="form">

                        <form id="cont" method="POST" action="/send">
                            
                            <fieldset id="iMensagem">
                                
                                <legend> Envie uma Mensagem </legend>
                                
                                <label for="iNome"> Nome: </label> <br>
                                <input type="text" size="50" maxlength="65" placeholder="Escreva o seu nome completo" id="iNome" name="nNome">  <br>             
                                <label for="iMail">E-Mail:</label> <br>
                                <input type="email" size="50" placeholder="E-Mail completo" id="iMail" name="nMail"> 
                                <label for="iMsgr">Mensagem:</label> 
                                <textarea id="iMsgr" name="nMsgr" placeholder="Deixe a sua mensagem" cols="58" rows="10"> </textarea>

                                <button id="iEnviar">Enviar</button>
                            </fieldset>                
                        </form>
                        
                    </div>

                    <div id="carregamento">
                        <p>Enviando mensagem</p>
                        <div id="loader"></div>
                    </div>

                </section>

                <footer>
                    <hr>
                    <p>Copyright 2021 © Todos os direitos reservados:  <a target="_blank" href="https://blueedtech.com.br/" id="linkfooter"> Claudenir Ferreira </a></p>
                    
                </footer>


            </div>
        </div>
    </div>
    <script src='../static/_js/script.js'></script>    

</body>
</html>